<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Lista Alumnos</title>
</head>

<body>
    <div>
    <header>
        <div class="container">
            <img src="logozona.png" alt="logo">
            <p class="logo">C.E.I Josefina Molina de Duque</p>
        </div>
    </header>
    <div class="niños">
        
    <div class="box">
        <table border="2">
            <tr>
                <td><b>Nombre y apellido Alumnos</b></td>
                <td><b>Cedula Escolar</b></td>
                <td><b>Grupo</b></td>
                <td><b>Sección</b></td>
                <td><b>Docente</b></td>
            </tr>
            <tr>
                <td>Eiver Omar Soler Chacón</td>
                <td>29514638</td>
                <td>A</td>
                <td>A</td>
                <td>Vidermid</td>           
            </tr>
            <tr>
                <td>Cristian Alejandro Barajas Duran</td>
                <td>02346723</td>
                <td>B</td>
                <td>B</td>
                <td>Andy</td>           
            </tr>
            <tr>
                <td>Jhondeivi Marino Ruiz Pechofrio</td>
                <td>234712312</td>
                <td>A</td>
                <td>D</td>
                <td>Norberto</td>           
            </tr>
            <tr>
                <td>Maria Fernanda Mora</td>
                <td>312334112</td>
                <td>C</td>
                <td>F</td>
                <td>Noris</td>           
            </tr>
            <tr>
                <td>Fran Josue Durán Montilva</td>
                <td>454687122</td>
                <td>C</td>
                <td>A</td>
                <td>Pablus</td>           
            </tr>
            <tr>
                <td>Mayra Karina Chacón</td>
                <td>16540938</td>
                <td>A</td>
                <td>A</td>
                <td>Ulianoff</td>           
            </tr>
            <tr>
                <td>Dylan José Pereira Chacón</td>
                <td>23272132</td>
                <td>B</td>
                <td>B</td>
                <td>Julio</td>           
            </tr>
        </table>
    </div>
    </div>
</body>
</html>